@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&display=swap");

body {
    font-family: "Fira Code", monospace;
    padding: 0;
    margin: 17px 10%;
    color: #212121;
}
